/*body{
  margin: 0px;This line and below line included when position property is used in inner ...
  padding: 0px;
  background-image: url(images/light_fabric.png);
  background-size: cover;
}*/

body {
  height: 100%;
  width: 100%;
}

a {
  outline: 0;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #ffffff !important;
}

.bg1 {
  position: relative;/*affects .btns position*/
  text-align: center;
  background-image: url("images/Bonneville_salt_flats.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*padding: 50px;*/
  width: 100%;
  height: 90vh;
  /*bottom: 30px;*/
}

.btn {
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 5px;
}

.btng:focus {
  /*outline: none;*/
  box-shadow: none!important;
  background: #343A40;
  color: #ffffff;
}

.btns {
  max-width: 70%;
  height: 30%;
  margin: auto;
  position: absolute;
  top: 70%; left: 0; bottom: 0; right: 0;
}

.btn-dark:hover, .btn-dark:active{
  /*color: #000000;*/
  background: #343A40;
}

/*.btn-dark {
  box-shadow: o 6px #ab3c3c;
  transition: none;
}*/


.btn-dark:focus {
  /*box-shadow: none;/*!important;*/
}

/*@media (min-width: 700px) {
  .btns {
  max-width: 35%;
  height: 30%;
  margin: auto;
  position: absolute;
  top: 70%; left: 0; bottom: 0; right: 0;
  }
}*/

.bg2 {
  height: auto;
  /*background-image: url("images/Bonneville_salt_flats.jpg");*/
}

.div1 {
  width: 100%;
}

#resume {
  /*margin: 0 auto;
  max-width: 700px;*/
  text-align: center;
}

#link1 {
  transition: all 0.5s;
  text-align: center;
  margin: 0 auto;
}

#link1 span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#link1:hover span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#link1:hover span{
  padding-right: 25px;
}

#link1:hover span:after {
  opacity: 1;
  right: 0;
}


.profile-card {
  /*Below two props to center this div inside another div*/
  margin: 0 auto;
  width: 100%;
}

.contact {
  /*display: inline-block;*/
  white-space: nowrap;
  margin: 0 auto;
  width: 100%;
}

.table{
  width: 1px;/*for shrink to fit*/
  margin: 0 auto;/*To center table horizontally*/
}

.table td {
    border-top: none !important;
    letter-spacing: 3px;
    /*white-space: nowrap;
    width: 1%;*/
}

td.a:hover {

}

/*.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}*/

/*table.table.border-table {
    border: 1px solid black;
}*/



.nav-item {
  /*display: inline-block;*/
}

/*.nav-tabs {
  position: absolute;
}*/
